footer {
  background-color: color(primary-color);
  font-size: medium;
  color: color(text-color-light);
  display: grid;
  grid-auto-flow: row;
  padding: 1rem;
  padding-bottom: 1rem;
  @include desktop{
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr)
  }
  .fa-heart {
    color: red;
  }
  .fa-code {
    color: color(secondary-color);
  }
  a {
    color: color(text-color-light);
  }
  a:hover {
    color: color(secondary-color);
    transition: color .5s ease-out;
  }
  .navigation {
    position: relative;
    @include desktop {
      position: absolute;
      right: 0;
    }
  }
}