header {
  background-image: url(../assets/images/header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: color(primary-color);
}

nav {
  padding: 1rem 0rem 0rem 3rem;
}
