---
layout: page
title: Blog
permalink: /blog/
---
<div class="page-header">
  <h1>Blog</h1>
</div>
<div class="blog-container">
  {% assign post_counter = 0 %}
  {% for post in site.posts %}
      {% if post.url contains 'projects' %}
      {% else %}
          <div class="post-card">
              <a href="{{post.url}}">
                  <div class="description">
                      <p class="white-text small-font margin-bottom">{{ post.excerpt | truncate:150 }}</p>
                      <span class="trans-button small-font">Read More <i class="fas fa-angle-double-right"></i></span>
                  </div>
                  <div class="card-title">
                      <span class="category">{{ post.category_icon }} {{ post.categories }}</span>
                      <h4 class="white-text">{{ post.title }}</h4>
                  </div>
                  <img class="post-image" src="{{site.url}}/assets/images/{{post.image}}" alt="{{post.title | escape}}">
              </a>
          </div>
      {% endif %}
  {% endfor%}
</div>