/**
*Text & Image elements
*/



h1, h2, h3, h4, h5, .card-title, a:hover {
    color: #30c3f6;
}


h1.title, h2.featurette-heading {

    text-shadow: 1px 1px 1px #02547bb3
}


 a:link, a:link:visited {
    color: #0275d8;
}


.align-center {
    text-align: center;
}

.list-group, list-group-item {
    margin-left: -1rem;
}
/**
* Icon & Bottom elements
*/

.fa{
    color: #30c3f6;
}

.fa-heart{
    color: #dd0000;
}

.fa-share{
    color: #fff;
}

.btn-primary, a.btn, a.btn:visited {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-info {
    background-color: #30c3f6;
    border-color: #30c3f6;
}

.btn-info:hover {
    background-color: #0084b4;
}

.progress {
    margin-bottom: 0.5rem;
}

/**
* Page elements
*/

.card-group {
    width: 480px;
}

.page-content {
    background: -webkit-linear-gradient(left, #fafafa, #fcfcfc, white, white, #fcfcfc, #fafafa);
    background: -o-linear-gradient(left, #fafafa, #fcfcfc, white, white, #fcfcfc, #fafafa);
    background: -moz-linear-gradient(left, #fafafa, #fcfcfc, white, white, #fcfcfc, #fafafa);
    background: linear-gradient(to right, #fafafa, #fcfcfc, white, white, #fcfcfc, #fafafa);
}

.site-header {
-webkit-box-shadow: 0px 10px 17px 8px rgba(245,245,245,1);
-moz-box-shadow: 0px 10px 17px 8px rgba(245,245,245,1);
box-shadow: 0px 10px 17px 8px rgba(245,245,245,1);
}

.side-col{
    margin-right: 2rem;
}

.heading {
    margin-top: 1rem;
}


/**
* Blog Layout Elements
*/


.featurette-divider {
    margin: 3rem 0;
}

.featurette-heading {
    margin-top: 1.25rem;
}



/**
* footer elements
*/

.site-footer {
    background: #f4f8f9;
}

.footer-heading {
    background: #d3e4f;
}

#bottom-bar {
    background: #e8f0f1;
}
