body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font: 400 18px/1.5 "Jura", sans-serif;
  color: #1E2A39;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  color: #1E2A39;
}

h1 {
  font-size: 60px;
}

.horizontal-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.horizontal-list li {
  padding-right: 15px;
}

.full-button {
  cursor: pointer;
  background-color: #FF721E;
  color: #1E2A39;
  font-family: "Jura", sans-serif;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-size: medium;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.full-button:hover {
  background-color: #f95d00;
  color: #2a3b50;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.fab {
  color: #FF721E;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.fab:hover {
  color: #ff6205;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

header {
  background-image: url(../assets/images/header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1E2A39;
  color: #FFFFFF;
}

header nav {
  padding: 1rem 0rem 0rem 3rem;
}

@media (min-width: 940px) {
  header nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2.5fr;
        grid-template-columns: 4fr 2.5fr;
  }
}

header nav .navigation {
  display: none;
  list-style-type: none;
}

@media (min-width: 940px) {
  header nav .navigation {
    display: block;
  }
}

header nav li a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 940px) {
  header nav li a {
    float: left;
    margin-right: 1.3rem;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 5px;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}

header nav li a:hover {
  background-color: #FF721E;
  color: #1E2A39;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

header .header-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
      grid-template-areas: "intro pictures" "intro pictures";
}

header .intro {
  grid-area: "intro";
  padding-left: 3rem;
  margin-right: 12rem;
}

header .intro h1 {
  padding: .5rem 0rem 0rem .5rem;
  font-family: "Dancing Script", cursive;
  color: #FFFFFF;
}

header .intro p {
  padding-left: 1rem;
}

header .pictures {
  grid-area: "pictures";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7rem;
}

header .pictures #box:nth-child(2) {
  padding-left: 98px;
  position: absolute;
  top: 232px;
}

header .pictures #box {
  position: relative;
  margin: 0rem 4rem 4rem 0rem;
  width: 180px;
  margin-right: 1rem;
}

header .pictures #shadow {
  position: absolute;
  background: #F2F6F9;
  width: 180px;
  height: 180px;
  top: 35px;
  -webkit-clip-path: polygon(52% 1%, 100% 51%, 51% 100%, 0% 50%);
          clip-path: polygon(52% 1%, 100% 51%, 51% 100%, 0% 50%);
}

header .pictures #frame {
  width: 180px;
  -webkit-clip-path: polygon(52% 10%, 98.44% 50.56%, 51% 89%, 1.45% 49.56%);
          clip-path: polygon(52% 10%, 98.44% 50.56%, 51% 89%, 1.45% 49.56%);
  background: #FF721E;
}

header .pictures #picture {
  -webkit-clip-path: polygon(53% 11%, 99% 52%, 52% 91%, 3% 51%);
          clip-path: polygon(53% 11%, 99% 52%, 52% 91%, 3% 51%);
  width: 177px;
}

/**
* Code Formatting
*/
pre,
code {
  color: #3d5ce5;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #edfbff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
  margin-bottom: 20px;
}

.highlighter-rouge .highlight {
  background: #edfbff;
}

.highlight .c {
  color: #b0ddf2;
  font-style: italic;
}

.highlight .err {
  color: #f24161;
  background-color: #f24161;
}

.highlight .k {
  color: #7941f2;
  font-weight: bold;
}

.highlight .o {
  color: #3d5ce5;
  font-weight: bold;
}

.highlight .cm {
  color: #b0ddf2;
  font-style: italic;
}

.highlight .cp {
  color: #abd6ea;
  font-weight: bold;
}

.highlight .c1 {
  color: #b0ddf2;
  font-style: italic;
}

.highlight .cs {
  color: #abd6ea;
  font-weight: bold;
  font-style: italic;
}

.highlight .gd {
  color: #000;
  background-color: #fdd;
}

.highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #f24161;
}

.highlight .gh {
  color: #999;
}

.highlight .gi {
  color: #000;
  background-color: #dfd;
}

.highlight .gi .x {
  color: #000;
  background-color: #afa;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaa;
}

.highlight .gt {
  color: #f24161;
}

.highlight .kn {
  color: #4161f2;
}

.highlight .kc {
  font-weight: bold;
}

.highlight .kd {
  font-weight: bold;
}

.highlight .kp {
  font-weight: bold;
}

.highlight .kr {
  font-weight: bold;
}

.highlight .kt {
  color: #458;
  font-weight: bold;
}

.highlight .m {
  color: #41f2d1;
}

.highlight .s {
  color: #45C3FF;
}

.highlight .n {
  color: #00405f;
}

.highlight .na {
  color: #008080;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #f27941;
  font-weight: bold;
}

.highlight .nd {
  color: #4161f2;
}

.highlight .no {
  color: #008080;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #f24161;
  font-weight: bold;
}

.highlight .nf {
  color: #f241ba;
  font-weight: bold;
}

.highlight .nn {
  color: #f27941;
}

.highlight .nt {
  color: #000080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #d141f2;
  font-weight: bold;
}

.highlight .w {
  color: #bbb;
}

.highlight .mf {
  color: #099;
}

.highlight .mh {
  color: #099;
}

.highlight .mi {
  color: #41f2d1;
}

.highlight .mo {
  color: #099;
}

.highlight .sb {
  color: #45C3FF;
}

.highlight .sc {
  color: #45C3FF;
}

.highlight .sd {
  color: #45C3FF;
}

.highlight .s2 {
  color: #45C3FF;
}

.highlight .se {
  color: #45C3FF;
}

.highlight .sh {
  color: #45C3FF;
}

.highlight .si {
  color: #41f2d1;
}

.highlight .sx {
  color: #45C3FF;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #45C3FF;
}

.highlight .ss {
  color: #990073;
}

.highlight .bp {
  color: #0086B3;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .il {
  color: #099;
}
/*# sourceMappingURL=main.css.map */