---
layout: default
---

<div class="home">

  {{ content }}

    <div class="container">
        <center>
        <div class="row">
            <div class="col">
                <img src="https://qph.ec.quoracdn.net/main-thumb-6153074-200-iddrtgrgsgfrfjhakkqpwnifbztfhesn.jpeg" alt="Fabio Rosado" class="rounded-circle">
            </div>
            </div>
        <div class="row">
            <div class="col">
                <h1> {{ site.title }}</h1>
                <h3>
                    <small class="text-muted">{{ site.description }}</small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include socialmedia.html %}
            </div>


        </div>


        </center>
    </div>

    <!-- Projects -->

    </br></br>
    <center><h3>.Projects</h3></center>
<div class="wrapper">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="{{ site.url }}/assets/placeholder.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</ br></p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link"> Read more...</a>
            <p class="card-text"><small class="text-muted"></br>Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ site.url }}/assets/placeholder.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</ br></p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link"> Read more...</a>
            <p class="card-text"><small class="text-muted"></br>Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{{ site.url }}/assets/placeholder.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</ br></p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link"> Read more...</a>
            <p class="card-text"><small class="text-muted"></br>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>


     <!-- Add full-width gallery-->

<div class="container-fluid">

</div>




</div>
