---
layout: default
---

<div class="home">

  {{ content }}

    <div class="container">
        <center>
        <div class="row">
            <div class="col">
                <img src="https://qph.ec.quoracdn.net/main-thumb-6153074-200-iddrtgrgsgfrfjhakkqpwnifbztfhesn.jpeg" alt="Fabio Rosado" class="rounded-circle">
            </div>
            </div>
        <div class="row">
            <div class="col">
                <h1> {{ site.title }}</h1>
                <h3>
                    <small class="text-muted">{{ site.description }}</small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include socialmedia.html %}
            </div>
        </div>
        </center>
    </div>

    <!-- Projects -->

    </br></br>
    <center><h3>.Projects</h3></center>
    <div class="wrapper">
      <div class="card-group">
        {% for project in site.categories.Projects limit:3 %}
          <div class="card">
            <a href="{{project.url}}">
            <img class="card-img-top" src="{{site.url}}/assets/images/{{project.image}}" alt="Card image cap"></a>
            <div class="card-body">
                <h4 class="card-title">{{ project.title }}</h4>
                <p class="card-text">{{ project.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                <p><a href="{{project.url}}" class="card-link"> Read more...</a></p>
            </div>
            <div class="card-footer text-muted">
              <small class="text-muted"><b>Last updated:</b> {{ project.date | date: "%b %d, %Y" }} </small>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


     <!-- Add full-width gallery-->

<div class="container-fluid">

</div>




</div>
